Importing required modules

In [1]:
import numpy as np
import pandas as pd 
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

D:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Reading the data

In [3]:
data = pd.read_csv('C:/Users/PRIYAL SOBTIPRIYAL.1/Desktop/AutismData/Toddler Autism dataset July 2018.csv')

In [18]:
data.head();

In [5]:
columns = ['Ethnicity','Who completed the test','Qchat-10-Score','Case_No']
data.drop(columns, inplace=True, axis=1)

In [6]:
data['Jaundice'] = data['Jaundice'].map({'yes': 1, 'no': 0})

In [7]:
data['Family_mem_with_ASD'] = data['Family_mem_with_ASD'].map({'yes': 1, 'no': 0})

In [8]:
ASD_Traits=pd.get_dummies(data['Class/ASD Traits '],drop_first=True)

In [19]:
print(ASD_Traits);

      Yes
0       0
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       0
9       1
10      1
11      1
12      0
13      1
14      0
15      1
16      0
17      1
18      0
19      1
20      1
21      1
22      1
23      1
24      1
25      0
26      1
27      1
28      1
29      0
...   ...
1024    0
1025    0
1026    0
1027    1
1028    1
1029    1
1030    0
1031    1
1032    1
1033    0
1034    0
1035    1
1036    1
1037    0
1038    1
1039    1
1040    0
1041    0
1042    1
1043    1
1044    1
1045    1
1046    1
1047    1
1048    0
1049    0
1050    1
1051    1
1052    0
1053    1

[1054 rows x 1 columns]

In [10]:
changed_data= pd.concat([data.A1,data.A2,data.A3,data.A4,data.A5,data.A6,data.A7,data.A8,data.A9,data.A10,data.Age_Mons,data.Sex,data.Jaundice,data.Family_mem_with_ASD,ASD_Traits],axis=1)

In [20]:
changed_data.head();

In [21]:
print(changed_data);

      A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  Age_Mons Sex  Jaundice  \
0      0   0   0   0   0   0   1   1   0    1        28   f         1
1      1   1   0   0   0   1   1   0   0    0        36   m         1
2      1   0   0   0   0   0   1   1   0    1        36   m         1
3      1   1   1   1   1   1   1   1   1    1        24   m         0
4      1   1   0   1   1   1   1   1   1    1        20   f         0
5      1   1   0   0   1   1   1   1   1    1        21   m         0
6      1   0   0   1   1   1   0   0   1    0        33   m         1
7      0   1   0   0   1   0   1   1   1    1        33   m         1
8      0   0   0   0   0   0   1   0   0    1        36   m         0
9      1   1   1   0   1   1   0   1   1    1        22   m         0
10     1   0   0   1   0   1   1   0   1    1        36   m         1
11     1   1   1   1   0   1   1   1   0    1        17   m         1
12     0   0   0   0   0   0   0   0   0    0        25   f         1
13     1   1   1   1   0   0   1   0   1    1        15   f         1
14     0   0   0   0   0   0   0   0   0    0        18   m         0
15     1   1   1   0   1   0   1   1   0    1        12   m         0
16     0   0   0   0   0   0   0   0   0    0        36   m         0
17     1   1   1   0   1   1   1   1   0    1        12   f         1
18     1   0   0   0   1   0   0   0   0    1        29   f         0
19     1   1   1   0   1   0   1   1   0    1        12   f         0
20     1   0   0   1   1   1   1   1   1    0        36   m         0
21     1   0   1   1   1   1   1   0   1    0        36   m         0
22     1   0   1   1   0   1   0   1   1    1        36   m         1
23     1   1   1   0   1   1   0   1   1    0        36   m         1
24     1   1   1   1   1   1   1   1   1    0        22   m         0
25     0   0   0   0   0   0   0   0   0    0        24   f         0
26     1   1   0   1   1   1   1   1   0    1        36   m         0
27     1   1   1   1   1   1   1   1   1    1        35   m         1
28     0   0   1   1   1   0   1   1   1    1        36   m         0
29     0   0   0   0   0   0   0   0   0    0        32   m         1
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...       ...  ..       ...
1024   0   0   0   0   0   0   0   0   0    1        35   m         1
1025   0   0   0   0   0   0   1   1   0    1        23   m         1
1026   0   0   0   0   0   0   0   0   0    1        36   m         0
1027   0   0   1   1   1   0   0   1   1    0        29   m         0
1028   0   0   1   1   1   1   0   0   1    0        22   f         0
1029   1   1   0   1   0   1   1   1   1    1        36   m         0
1030   0   0   0   0   1   0   0   1   0    1        36   m         1
1031   1   1   0   0   0   1   1   1   0    1        36   f         0
1032   1   0   1   1   1   0   1   0   0    0        32   m         1
1033   0   0   0   0   0   1   0   0   0    1        16   m         1
1034   0   0   0   0   0   0   0   1   0    0        28   m         0
1035   1   0   0   1   0   1   1   1   0    0        18   m         1
1036   1   1   0   1   0   1   1   1   0    0        14   f         0
1037   0   0   1   0   0   0   0   0   0    0        12   m         0
1038   1   1   0   0   0   0   1   0   1    0        26   m         0
1039   0   0   0   0   1   1   1   0   1    0        26   m         0
1040   0   0   0   0   0   0   0   0   0    1        25   m         0
1041   0   0   0   1   0   0   1   0   0    0        25   m         1
1042   1   1   1   1   0   0   1   1   1    1        30   m         1
1043   1   1   1   1   1   1   1   1   1    1        25   m         0
1044   1   1   1   1   1   1   1   1   1    1        25   m         0
1045   1   1   1   1   1   1   1   1   1    1        30   m         0
1046   0   1   0   1   1   1   1   1   1    0        24   f         0
1047   1   1   0   0   1   1   1   0   0    0        30   f         0
1048   0   0   0   0   0   0   0   0   0    0        30   f         0
1049   0   0   0   0   0   0   0   0   0    1        24   f         0
1050   0   0   1   1   1   0   1   0   1    0        12   m         1
1051   1   0   1   1   1   1   1   1   1    1        18   m         1
1052   1   0   0   0   0   0   0   1   0    1        19   m         0
1053   1   1   0   0   1   1   0   1   1    0        24   m         1

      Family_mem_with_ASD  ASD_traits
0                       0           0
1                       0           1
2                       0           1
3                       0           1
4                       1           1
5                       0           1
6                       0           1
7                       0           1
8                       0           0
9                       0           1
10                      1           1
11                      0           1
12                      0           0
13                      0           1
14                      0           0
15                      0           1
16                      1           0
17                      0           1
18                      0           0
19                      0           1
20                      0           1
21                      0           1
22                      1           1
23                      1           1
24                      0           1
25                      0           0
26                      0           1
27                      0           1
28                      1           1
29                      0           0
...                   ...         ...
1024                    0           0
1025                    0           0
1026                    0           0
1027                    0           1
1028                    0           1
1029                    1           1
1030                    0           0
1031                    1           1
1032                    0           1
1033                    1           0
1034                    0           0
1035                    0           1
1036                    0           1
1037                    0           0
1038                    1           1
1039                    1           1
1040                    0           0
1041                    0           0
1042                    0           1
1043                    1           1
1044                    1           1
1045                    0           1
1046                    0           1
1047                    0           1
1048                    0           0
1049                    1           0
1050                    0           1
1051                    0           1
1052                    1           0
1053                    1           1

[1054 rows x 15 columns]

In [25]:
changed_data.rename(columns={'ASD_traits':'ASD_traits_toddlers'}, 
                 inplace=True)

In [26]:
print(changed_data)

      A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  Age_Mons Sex  Jaundice  \
0      0   0   0   0   0   0   1   1   0    1        28   f         1
1      1   1   0   0   0   1   1   0   0    0        36   m         1
2      1   0   0   0   0   0   1   1   0    1        36   m         1
3      1   1   1   1   1   1   1   1   1    1        24   m         0
4      1   1   0   1   1   1   1   1   1    1        20   f         0
5      1   1   0   0   1   1   1   1   1    1        21   m         0
6      1   0   0   1   1   1   0   0   1    0        33   m         1
7      0   1   0   0   1   0   1   1   1    1        33   m         1
8      0   0   0   0   0   0   1   0   0    1        36   m         0
9      1   1   1   0   1   1   0   1   1    1        22   m         0
10     1   0   0   1   0   1   1   0   1    1        36   m         1
11     1   1   1   1   0   1   1   1   0    1        17   m         1
12     0   0   0   0   0   0   0   0   0    0        25   f         1
13     1   1   1   1   0   0   1   0   1    1        15   f         1
14     0   0   0   0   0   0   0   0   0    0        18   m         0
15     1   1   1   0   1   0   1   1   0    1        12   m         0
16     0   0   0   0   0   0   0   0   0    0        36   m         0
17     1   1   1   0   1   1   1   1   0    1        12   f         1
18     1   0   0   0   1   0   0   0   0    1        29   f         0
19     1   1   1   0   1   0   1   1   0    1        12   f         0
20     1   0   0   1   1   1   1   1   1    0        36   m         0
21     1   0   1   1   1   1   1   0   1    0        36   m         0
22     1   0   1   1   0   1   0   1   1    1        36   m         1
23     1   1   1   0   1   1   0   1   1    0        36   m         1
24     1   1   1   1   1   1   1   1   1    0        22   m         0
25     0   0   0   0   0   0   0   0   0    0        24   f         0
26     1   1   0   1   1   1   1   1   0    1        36   m         0
27     1   1   1   1   1   1   1   1   1    1        35   m         1
28     0   0   1   1   1   0   1   1   1    1        36   m         0
29     0   0   0   0   0   0   0   0   0    0        32   m         1
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...       ...  ..       ...
1024   0   0   0   0   0   0   0   0   0    1        35   m         1
1025   0   0   0   0   0   0   1   1   0    1        23   m         1
1026   0   0   0   0   0   0   0   0   0    1        36   m         0
1027   0   0   1   1   1   0   0   1   1    0        29   m         0
1028   0   0   1   1   1   1   0   0   1    0        22   f         0
1029   1   1   0   1   0   1   1   1   1    1        36   m         0
1030   0   0   0   0   1   0   0   1   0    1        36   m         1
1031   1   1   0   0   0   1   1   1   0    1        36   f         0
1032   1   0   1   1   1   0   1   0   0    0        32   m         1
1033   0   0   0   0   0   1   0   0   0    1        16   m         1
1034   0   0   0   0   0   0   0   1   0    0        28   m         0
1035   1   0   0   1   0   1   1   1   0    0        18   m         1
1036   1   1   0   1   0   1   1   1   0    0        14   f         0
1037   0   0   1   0   0   0   0   0   0    0        12   m         0
1038   1   1   0   0   0   0   1   0   1    0        26   m         0
1039   0   0   0   0   1   1   1   0   1    0        26   m         0
1040   0   0   0   0   0   0   0   0   0    1        25   m         0
1041   0   0   0   1   0   0   1   0   0    0        25   m         1
1042   1   1   1   1   0   0   1   1   1    1        30   m         1
1043   1   1   1   1   1   1   1   1   1    1        25   m         0
1044   1   1   1   1   1   1   1   1   1    1        25   m         0
1045   1   1   1   1   1   1   1   1   1    1        30   m         0
1046   0   1   0   1   1   1   1   1   1    0        24   f         0
1047   1   1   0   0   1   1   1   0   0    0        30   f         0
1048   0   0   0   0   0   0   0   0   0    0        30   f         0
1049   0   0   0   0   0   0   0   0   0    1        24   f         0
1050   0   0   1   1   1   0   1   0   1    0        12   m         1
1051   1   0   1   1   1   1   1   1   1    1        18   m         1
1052   1   0   0   0   0   0   0   1   0    1        19   m         0
1053   1   1   0   0   1   1   0   1   1    0        24   m         1

      Family_mem_with_ASD  ASD_traits_toddlers
0                       0                    0
1                       0                    1
2                       0                    1
3                       0                    1
4                       1                    1
5                       0                    1
6                       0                    1
7                       0                    1
8                       0                    0
9                       0                    1
10                      1                    1
11                      0                    1
12                      0                    0
13                      0                    1
14                      0                    0
15                      0                    1
16                      1                    0
17                      0                    1
18                      0                    0
19                      0                    1
20                      0                    1
21                      0                    1
22                      1                    1
23                      1                    1
24                      0                    1
25                      0                    0
26                      0                    1
27                      0                    1
28                      1                    1
29                      0                    0
...                   ...                  ...
1024                    0                    0
1025                    0                    0
1026                    0                    0
1027                    0                    1
1028                    0                    1
1029                    1                    1
1030                    0                    0
1031                    1                    1
1032                    0                    1
1033                    1                    0
1034                    0                    0
1035                    0                    1
1036                    0                    1
1037                    0                    0
1038                    1                    1
1039                    1                    1
1040                    0                    0
1041                    0                    0
1042                    0                    1
1043                    1                    1
1044                    1                    1
1045                    0                    1
1046                    0                    1
1047                    0                    1
1048                    0                    0
1049                    1                    0
1050                    0                    1
1051                    0                    1
1052                    1                    0
1053                    1                    1

[1054 rows x 15 columns]